{% extends "layout.html" %}

{% block title %}
    マップ
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/googleMap.js') }}"></script>
    <!-- プレイス ライブラリ サービスにアクセスするにはlibraries パラメータを追加し、値として places を追加する -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"></script>
{% endblock %}

{% block main %}
<main class="container-fluid py-5 text-center">
    <h1 class="mt-1 text-lg font-semibold text-black sm:text-slate-900 md:text-2xl dark:sm:text-white py-3 px-4 pr-9">現在、【<span id="searchTypeText" class="mt-1 text-lg font-semibold text-black sm:text-slate-900 md:text-2xl dark:sm:text-white">国</span>】単位で検索中です</h1>
    <!-- このコードはないものとしてください -->
    <input id="latlng" type="text" value="{{ locations }}" hidden />
    <div>
        <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="countryBtn" onclick="changeSearchType('country')">国単位</button>
        <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="prefectureBtn" onclick="changeSearchType('prefecture')">県単位</button>
        <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="cityBtn" onclick="changeSearchType('city')">市単位</button>
    </div>
    <div id="panel"></div>
    <div id="map"></div>
    <div class="mt-1 py-3 px-4 pr-9">
        <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="countryBtn" onclick="changeZoomType('country')">国単位</button>
        <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="prefectureBtn" onclick="changeZoomType('prefecture')">県単位</button>
        <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" id="cityBtn" onclick="changeZoomType('city')">市単位</button>
    </div>
</main>
{% endblock %}
