{% extends "layout.html" %}

{% block title %}
    年代別
{% endblock %}

{% block main %}
<!-- TODO: インデックスの中身 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/sample.css">
    </head>
    <body>
        <h2>国・地域</h2>
        <button class="btn">日本</button>
        <h2>年代</h2>
        <button class="btn">0~</button>
        <button class="btn">200~</button>
        <button class="btn">300~</button>
        <button class="btn">400~</button>
        <button class="btn">500~</button>
        <button class="btn">600~</button>
        <button class="btn">700~</button>
        <button class="btn">800~</button>
        <button class="btn">900~</button>
        <button class="btn">1000~</button><br>
        <button class="btn">1100~</button>
        <button class="btn">1200~</button>
        <button class="btn">1300~</button>
        <button class="btn">1400~</button>
        <button class="btn">1500~</button>
        <button class="btn">1600~</button>
        <button class="btn">1700~</button>
        <button class="btn">1800~</button>
        <button class="btn">1900~</button>
        <button class="btn">2000~</button>
    </body>
</html> 

{% endblock %}
