{% extends "layout.html" %}

{% block title %}
    国情報
{% endblock %}

{% block main %}

<main class='justify-center md:shrink-0 my-9 mx-64'>
    <div class="flex-auto flex justify-between items-center">
        <p class="text-6xl">{{ region_name }}
            {% if region_name != country_name and country_name %}
            <span class="text-sm">【国名】{{ country_name }}</span>
            {% endif %}
        </p>
        {% if placeID %}
        <form action="/favorite" method="GET" style="display: inline-block;">
            <input name="region_name" type="hidden" value="{{ region_name }}">
            <input name="placeID" type="hidden" value="{{ placeID }}">
            <button class="px-2 py-1 bg-yellow-400 text-white font-semibold rounded hover:bg-yellow-500">お気に入り</button>
        </form>
        {% endif %}
    </div>

    {% if region_image %}
    <img class="inline" src="{{ region_image }}" alt="images" width="30%" style="display: block; margin: auto;">
    {% endif %}

    {% if wiki_summary %}
    <h1 class="text-3xl text-center my-6">要約</h1>
    <p>{{ wiki_summary }}</p>
    {% endif %}

    {% if histories %}
    <h1 class="text-3xl text-center my-6">歴史</h1>
    <!-- アコーディオン -->
    <div id="accordion-collapse" data-accordion="collapse">
        {% for history in histories %}
        <div class="relative">
            <h2 id="accordion-collapse-heading-{{ loop.index }}">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                    data-accordion-target="#accordion-collapse-body-{{ loop.index }}"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-{{ loop.index }}"
                >
                    <span>{{ history }}</span>
                    <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </h2>
            <div id="accordion-collapse-body-{{ loop.index }}" class="hidden" aria-labelledby="accordion-collapse-heading-{{ loop.index }}">
                <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p>{{ histories[history] }}</p>
                </div>
                <!-- note -->
                <form action="/note" method="post" class="absolute top-5 right-20">
                    <input name="region_name" type="hidden" value="{{ region_name }}">
                    <input name="section" type="hidden" value="歴史">
                    <input name="title" type="hidden" value="{{ history }}">
                    <input name="detail" type="hidden" value="{{ histories[history] }}">
                    <button class="px-2 py-1 text-green-500 border border-green-500 font-semibold rounded hover:bg-green-100">登録</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if geographies %}
    <h1 class="text-3xl text-center my-6">地理</h1>
    <!-- アコーディオン -->
    <!-- loop.indexで指定したidが上の歴史と被らないように3始まりの10桁のものにする -->
    <div id="accordion-collapse" data-accordion="collapse">
        {% for geography in geographies %}
        <div class="relative">
            {% if geographies[geography] %}
            <h2 id="accordion-collapse-heading-3{{ loop.index }}">
                <button
                    type="button"
                    class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
                    data-accordion-target="#accordion-collapse-body-3{{ loop.index }}"
                    aria-expanded="false"
                    aria-controls="accordion-collapse-body-3{{ loop.index }}"
                >
                    <span>{{ geography }}</span>
                    <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </h2>
            <div id="accordion-collapse-body-3{{ loop.index }}" class="hidden" aria-labelledby="accordion-collapse-heading-3{{ loop.index }}">
                <div class="p-5 font-light border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                    <p>{{ geographies[geography] }}</p>
                    <!-- note -->
                    <form action="/note" method="post" class="absolute top-5 right-20">
                        <input name="region_name" type="hidden" value="{{ region_name }}">
                        <input name="section" type="hidden" value="地理">
                        <input name="title" type="hidden" value="{{ geography }}">
                        <input name="detail" type="hidden" value="{{ geographies[geography] }}">
                        <button class="px-2 py-1 text-green-500 border border-green-500 font-semibold rounded hover:bg-green-100">登録</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</main>
{% endblock %}
