{% extends "layout.html" %}

{% block title %}
    使い方
{% endblock %}

{% block main %}
<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <h1 class="text-4xl text-center font-bold leading-tight mb-6">サイトの使用方法</h1>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">アカウント作成</h2>
        <p>サイトを利用するには、まずアカウントを作成する必要があります。以下の手順に従って、アカウントを作成してください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>トップページから「登録」をクリックします。</li>
            <li>必要事項を入力し、「登録」ボタンをクリックします。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">ログイン</h2>
        <p>アカウントを作成したら、以下の手順に従ってログインしてください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>トップページから「ログイン」をクリックします。</li>
            <li>登録したメールアドレスとパスワードを入力します。</li>
            <li>「ログイン」ボタンをクリックします。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">パスワード変更</h2>
        <p>パスワードを変更したい場合は、ログインをしてください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>ログインした状態で、トップページから「パスワード変更」をクリックします。</li>
            <li>古いパスワードと新しいパスワードを入力します。</li>
            <li>「パスワード変更」ボタンをクリックします。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">自分の好きな国を選択して調べたい場合</h2>
        <p>トップページで国名を選択し、冒険に出るを押してください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>地図情報をクリックすることで、その国の名前が検索欄に表示されます。</li>
            <li>例えば、日本をクリックすると、「日本」という位置情報を取得し、「調べる」ボタンを押すとWikipediaAPIからその国の情報を取得して国の歴史や地理が表示されます。</li>
            <li>国だけでなく、県や市区町村でも同様です。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">自分の現在地から始めたい場合</h2>
        <p>トップページ上部で「Map」をクリックしてください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>自分の現在地にピンが表示されます。</li>
            <li>地図をクリックすると、クリックされた場所が検索欄に入力され、「調べる」を押すとその場所の情報が閲覧できます。</li>
            <li>国単位、県単位、市単位のボタンをクリックすることで、場所を絞り込めます。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">国や地域以外でも調べたい場合(Google検索)</h2>
        <p>トップページ上部で「Map」をクリックしてください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>地図上の市ボタンをクリックして場所のピンが表示された後、そのピンをクリックすると、「場所で検索中です」の中にその場所の名前が表示されます。</li>
            <li>検索ボタンをクリックするとGoogle検索に飛んでいつものようにWebサイトなどを閲覧できます。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">お気に入り機能（ログイン状態限定）</h2>
        <p>Mapから好きな場所を選択してください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>その後、調べるを押して右上に表示される「お気に入り登録」をクリックしてください。</li>
            <li>登録した場所は地図にピンが立てられます。左側に一覧表示され、そこをクリックすると「場所で検索中」の検索欄に場所名が入力されます。</li>
            <li>「検索」を押すことでGoogle検索に移動し、他のサイトなども閲覧できます。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">ノート機能（ログイン状態限定）</h2>
        <p>トップページ上部で「Note」をクリックしてください。</p>
        <ol class="list-decimal list-inside mt-4">
            <li>国や地域の情報ページから自分が覚えておきたいものを選びます。</li>
            <li>トップページのNoteから登録したものが一覧表示で確認できます。</li>
            <li>登録したものは右の三角ボタンで内容を確認できます。</li>
        </ol>
    </section>
    <section class="border border-gray-200 bg-white p-6 rounded-lg mb-6">
        <h2 class="text-xl font-bold mb-4">ログアウト</h2>
        <p>トップページでログアウトをクリックしてください。</p>
    </section>
</main>
{% endblock %}
